@if (Loaded)
{
    @ChildContent
}
else
{
    <span>
        Loading...
    </span>
}

@code
{
    [Parameter, EditorRequired]
    public bool Loaded { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}