@using ChartJs.Blazor

<div class="w-full [&>canvas]:w-full mx-auto">
    <Chart Config="_config" Height="@Height" Width="@Width"/>
</div>

@code
{
    [Parameter, EditorRequired]
    public Dictionary<int, Dictionary<DateOnly, int>> DailyVotes { get; set; } = [];

    [Parameter]
    public int Days { get; set; } = 5;

    [Parameter]
    public int? Height { get; set; }

    [Parameter]
    public int? Width { get; set; }
}