<div class="flex flex-col gap-10">
    <DailyStackedBarChart DailyVotes="@_dailyVotes"/>
</div>

@code
{
    private static Dictionary<DateOnly, int> RandomData(int days) => Enumerable
        .Range(0, days)
        .Select(i => new
        {
            Key = DateOnly.FromDateTime(DateTime.UtcNow).AddDays(-i),
            Value = Random.Shared.Next(0, 100),
        })
        .Reverse()
        .ToDictionary(kv => kv.Key, kv => kv.Value);

    private Dictionary<Party, Dictionary<DateOnly, int>> _dailyVotes = new()
    {
        [new Party(42)] = RandomData(5),
        [new Party(5)] = RandomData(5),
        [new Party(9)] = RandomData(5),
        [new Party(36)] = RandomData(5),
    };
}