@page "/stats"

<PageTitle>Stats</PageTitle>

<AppSection Flex="@FlexDirection.Row" Class="cursor-crosshair select-none items-center">
    <PieChart/>

    <div class="hidden lg:flex lg:[&>canvas]:w-[800px]">
        <DailyStackedBarChart/>
    </div>
</AppSection>