@page "/stats"

<PageTitle>Stats</PageTitle>

<AppSection Class="h-full flex flex-row justify-evenly cursor-crosshair select-none items-center">
    <PieChart/>

    <hr class="hidden md:block border-s border-dashed h-full"/>

    <div class="hidden lg:flex lg:[&>canvas]:w-[800px]">
        <DailyStackedBarChart/>
    </div>
</AppSection>