@page "/stats"
@using Application.Dto

<PageTitle>Stats</PageTitle>

<div class="w-full h-full grid grid-cols-12 justify-start content-start gap-3">
    <Card class="col-span-12">
        <PieChart/>
    </Card>

    <Card Class="h-[270px] sm:h-[320px] col-span-12 overflow-hidden">
        <div class="block sm:hidden">
            <DailyStackedBarChart Height="250" Days="3"/>
        </div>

        <div class="hidden sm:block lg:hidden">
            <DailyStackedBarChart Height="300" Days="7"/>
        </div>

        <div class="hidden lg:block">
            <DailyStackedBarChart Height="300" Days="10"/>
        </div>
    </Card>

    <Card Class="col-span-12">
        <BlockList @ref="BlockList"/>
    </Card>

    <div class="p-1"></div>
</div>

@code
{
    private BlockList BlockList { get; set; } = default!;
}