@page "/about"

<PageTitle>როგორ მუშაობს?</PageTitle>

<section class="col-span-12 text-white md:col-start-3 md:col-span-8 flex flex-col h-full md:h-auto gap-3">
    <FaqEntry Question="რა არის მიეცი.ჯი?">
        მიეცი.ჯი არის კრიპტოგრაფიულად დაცული პლატფორმა, სადაც მომხმარებელი ხმის მიცემით აფიქსირებს თავის პოლიტიკურ არჩევანს.
    </FaqEntry>

    <FaqEntry Question="რით განსხვავდება ნამდვილი საპარლამენტო არჩევნებისაგან?">
        ეს პლატფორმა არ არის დაკავშირებული ნამდვილ საპარლამენტო არჩევნებთან.<br/>
        აქ მომხმარებელს შეუძლია ყოველ 24 საათში დააფიქსიროს თავისი აზრი.<br/>
        ხმები ითვლება ყოველი კალენდარული თვის აქტივობის მიხედვით.<br/>
    </FaqEntry>

    <FaqEntry Question="რატომ შეიქმნა მიეცი.ჯი?">
        პოლიტიკური განწყობების დინამიკის სანახავად.
    </FaqEntry>

    <FaqEntry Question="რა ტიპის პერსონალური ინფორმაცია გროვდება საიტის გამოყენებისას?">
        საიტის გამოყენებისას, თქვენს შესახებ არანაირი პერსონალურად იდენტიფიცირებადი ინფორმაცია არ გროვდება.<br/>
        ჩვენი პლატფორმა იყენებს გუგლის ანალიტიკას, ეს ნიშნავს რომ საიტის გამოყენებით ეთანხმებით ჩვენს
        <a class="text-blue-500 underline" href="privacy">
            კონფიდენციალობის პოლიტიკას.
        </a>
    </FaqEntry>

    <FaqEntry Question="სად შემიძლია ვნახო კონფიდენციალობის პოლიტიკა?">
        <a class="text-blue-500 underline" href="privacy">კონფიდენციალობის პოლიტიკის სანახავად დააჭირეთ ამ ბმულს.</a>
    </FaqEntry>
</section>