@page "/about"

<PageTitle>როგორ მუშაობს?</PageTitle>

<section class="col-span-12 md:col-start-3 md:col-span-8 flex flex-col h-full md:h-auto gap-3">
    <FaqEntry Question="არის თუ არა მიეცი.ჯი ნამდვილი ონლაინ არჩევნები?">
        არა, მიეცი.ჯი არ არის ნამდვილი არჩევნები, აქ მიცემული ხმა არანაირად არ არის ნამდვილ არჩევნებთან კავშირში.
    </FaqEntry>

    <FaqEntry Question="როგორ მუშაობს მიეცი.ჯი?">
        მიეცი.ჯი მუშაობს ძალიან ადვილად,
    </FaqEntry>

    <FaqEntry Question="რატომ შეიქმნა მიეცი.ჯი?">
        რათა ხალხმა ნახოს ვის უჭერს მხარს საქართველოს მოსახლეობა!
    </FaqEntry>
</section>