<details class="text-lg md:text-2xl leading-5 md:leading-6 [&_summary]:open:rounded-b-none [&_.down]:open:hidden [&_.up]:open:block">
    <summary class="flex items-center gap-3 rounded-md justify-between w-full p-3
                    bg-gray-700 border border-gray-200 hover:bg-gray-600">
        <span>
            @Question
        </span>

        <Heroicon Name="@HeroiconName.ArrowDown" class="down size-4"/>
        <Heroicon Name="@HeroiconName.ArrowUp" class="hidden up size-4"/>
    </summary>

    <div class="p-3 border rounded-b-md text-gray-300 border-gray-200 bg-gray-800">
        @ChildContent
    </div>
</details>

@code
{
    [Parameter, EditorRequired]
    public string Question { get; set; } = default!;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}