@page "/blockchain"


<div class="container h-full flex flex-row justify-center align-middle items-center gap-10 px-5 lg:px-0">
    <LatestBlockList />

    <div class="justify-center overflow-y-scroll h-[80%]
                backdrop-blur-[3.5px] rounded-[5px] border-2 border-gray-400 shadow-party-card p-10 cursor-crosshair select-none">

    </div>
</div>