<div class="relative flex flex-row-reverse w-full md:flex-col justify-between gap-3">
    <div class="block md:hidden absolute w-full border border-neutral-500 top-6"></div>

    <h2 class="hidden md:block text-3xl" @onclick="@(() => AddBlock(NextBlock))">Latest Blocks</h2>

    @foreach (var block in _blocks)
    {
        <LatestBlockEntry @key="@block.Index" Block="@block"/>
    }
</div>

@code
{
    private List<LatestBlockEntry.MinimalBlock> _blocks =
    [
        new LatestBlockEntry.MinimalBlock(2, DateTime.Now, Random.Shared.Next(0, 256)),
        new LatestBlockEntry.MinimalBlock(1, DateTime.Now.AddDays(-1), Random.Shared.Next(0, 256)),
        new LatestBlockEntry.MinimalBlock(0, DateTime.Now.AddDays(-2), Random.Shared.Next(0, 256)),
    ];

    private LatestBlockEntry.MinimalBlock NextBlock => new(
        _blocks.OrderBy(x => x.Index).Last().Index + 1,
        DateTime.Now,
        Random.Shared.Next(0, 256)
    );

    private void AddBlock(LatestBlockEntry.MinimalBlock block)
    {
        _blocks.Insert(0, block);

        if (_blocks.Count > 5)
            _blocks = _blocks[..^1];
    }
}