@using System.Diagnostics.CodeAnalysis

<section
    @attributes="@AdditionalAttributes"
    class="@Class lg:max-w-screen-xl gap-4 rounded-md overflow-hidden
           backdrop-blur-[3.5px] bg-glass md:border border-dashed border-gray-300">
    @ChildContent
</section>

@code
{
    [Parameter]
    [StringSyntax("css")]
    public string Class { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];
}