<div class="mx-auto my-auto flex flex-col p-4">
    <h1 class="text-4xl text-white">
        დაფიქსირდა შეცდომა!
    </h1>

    <p class="text-start text-md text-green-300 mb-2">
        დააჭირეთ ქვევით რათა გადატვირთოთ ვებსაიტი
    </p>

    <button @onclick="@ErrorBoundary.Recover" class="px-4 py-2 bg-green-300 rounded-md text-green-900">
        გადატვირთვა
    </button>
</div>

@code
{
    [Parameter, EditorRequired]
    public ErrorBoundary ErrorBoundary { get; set; } = default!;
}