<div class="flex flex-col h-full gap-3 text-center p-5">
    <h1 class="text-2xl sm:text-6xl font-extrabold">
        We hit a roadblock!
    </h1>

    <p class="text-start text-md text-gray-500">
        Click below to reload the page and try again.
    </p>

    <button @onclick="@ErrorBoundary.Recover" class="p-4 bg-gray-300 rounded-md text-black">
        Reload
    </button>
</div>

@code
{
    [Parameter, EditorRequired]
    public ErrorBoundary ErrorBoundary { get; set; } = default!;
}