<div class="w-full h-full flex flex-col text-center justify-center align-middle items-center text-white">
    <h1 class="text-2xl md:text-6xl font-extrabold">
        დაფიქსირდა შეცდომა!
    </h1>

    <p class="text-start text-md text-gray-500">
        Click below to reload the page and try again.
    </p>

    <button @onclick="@ErrorBoundary.Recover" class="p-4 bg-gray-300 rounded-md text-black">
        Reload
    </button>
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public ErrorBoundary ErrorBoundary { get; set; } = default!;
}