<div class="col-span-4 flex flex-col p-4">
    <h1 class="text-4xl text-white">
        დაფიქსირდა შეცდომა!
    </h1>

    <p class="text-start text-md text-green-300 mb-2">
        დააჭირეთ ქვევით რათა გადატვირთოთ ვებსაიტი
    </p>

    <Button OnClick="@ErrorBoundary.Recover" Class="from-green-500 to-sky-500 focus:ring-green-800">
        გადატვირთვა
    </Button>
</div>

@code
{
    [Parameter, EditorRequired]
    public ErrorBoundary ErrorBoundary { get; set; } = default!;
}