@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<main class="w-full h-full flex flex-col sm:gap-10 sm:pb-10 justify-start text-center items-center bg-background bg-topo overflow-x-hidden text-white font-archyedt">
    <VerticalHeader/>

    <ErrorBoundary @ref="@ErrorBoundary" Context="Exception">
        <ChildContent>
            @Body
        </ChildContent>

        <ErrorContent>
            <Error ErrorBoundary="@ErrorBoundary"/>
        </ErrorContent>
    </ErrorBoundary>
</main>


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                ShowProgressBar="false"
                ShowCloseButton="true"
                PauseProgressOnHover="true"
                RemoveToastsOnNavigation="true"

                InfoClass="!border !rounded-md !border-cyan-300 !text-base !font-semibold !bg-gray-600 !text-white !backdrop-blur-[2px] !shadow-lg !shadow-cyan-300"
                SuccessClass="!border !rounded-md !border-green-300 !text-base !font-semibold !bg-gray-600 !text-white !backdrop-blur-[2px] !shadow-lg !shadow-green-300"
                WarningClass="!border !rounded-md !border-yellow-300 !text-base !font-semibold !bg-gray-600 !text-white !backdrop-blur-[2px] !shadow-lg !shadow-yellow-300"
                ErrorClass="!border !rounded-md !border-red-300 !text-base !font-semibold !bg-gray-600 !text-white !backdrop-blur-[2px] !shadow-lg !shadow-red-300"/>

@code
{
    private ErrorBoundary ErrorBoundary { get; set; } = default!;
}