@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<main class="w-full h-full flex justify-center align-middle items-center content-center bg-background bg-topo font-archyedt overflow-x-hidden overflow-y-scroll scrollbar-none -z-50">
    <ErrorBoundary @ref="@ErrorBoundary" Context="Exception">
        <ChildContent>
            <article class="w-full h-full grid grid-cols-12 gap-3 items-center container px-5 py-10">
                @Body
            </article>
        </ChildContent>

        <ErrorContent>
            <Error ErrorBoundary="@ErrorBoundary"/>
        </ErrorContent>
    </ErrorBoundary>
</main>


<BlazoredToasts Position="ToastPosition.TopCenter"
                Timeout="10"
                ShowProgressBar="false"
                ShowCloseButton="true"
                PauseProgressOnHover="true"
                RemoveToastsOnNavigation="false"

                InfoClass="!border-cyan-500 !rounded-md !border-2 !font-light !font-archyedt !bg-background !text-white"
                SuccessClass="!border-green-500 !rounded-md !border-2 !font-light !font-archyedt !bg-background !text-white"
                WarningClass="!border-yellow-500 !rounded-md !border-2 !font-light !font-archyedt !bg-background !text-white"
                ErrorClass="!border-red-500 !rounded-md !border-2 !font-light !font-archyedt !bg-background !text-white"/>

@code
{
    private ErrorBoundary ErrorBoundary { get; set; } = default!;
}