@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<main class="w-full h-full flex justify-center align-middle items-center content-center bg-gray-800 bg-topo font-archyedt overflow-x-hidden overflow-y-scroll scrollbar-none -z-50 px-5 py-10">
    <ErrorBoundary @ref="@ErrorBoundary" Context="Exception">
        <ChildContent>
            <article class="w-full h-full grid grid-cols-12 gap-3 items-center container">
                @Body
            </article>
        </ChildContent>

        <ErrorContent>
            <Error ErrorBoundary="@ErrorBoundary"/>
        </ErrorContent>
    </ErrorBoundary>
</main>


<BlazoredToasts Position="ToastPosition.TopCenter"
                Timeout="10"
                ShowProgressBar="false"
                PauseProgressOnHover="true"
                RemoveToastsOnNavigation="false"/>

@code
{
    private ErrorBoundary ErrorBoundary { get; set; } = default!;
}