<div class="flex flex-col col-span-12 w-full h-full items-center justify-center gap-3 text-white">
    <span class="text-4xl text-red-400">404</span>

    <span class="text-6xl leading-8">გვერდი ვერ მოიძებნა</span>

    <span class="text-2xl text-gray-400">
        გვერდი ან რესურსი რომელიც მოითხოვეთ ვერ მოიძებნა,
    </span>

    <div class="flex text-2xl flex-row gap-3">
        <Button Link Href="vote" Class="from-green-500 to-sky-500 focus:ring-green-800">
            უკან დაბრუნება
        </Button>

        <Button Link Href="stats">
            სტატისტიკის ნახვა
        </Button>
    </div>

    @* <h1 class="text-4xl md:text-6xl font-extrabold"> *@
    @*     404 ვერ მოიძებნა *@
    @* </h1> *@
</div>