@page "/blockchain/blocks/{Hash}"
@page "/blockchain/blocks/{Index:long}"

<h3>Block: @Hash @Index</h3>

@code
{
    [Parameter]
    public string Hash { get; set; } = string.Empty;

    [Parameter]
    public long? Index { get; set; }
}