@page "/about"

<PageTitle>როგორ მუშაობს?</PageTitle>

@* TODO faq section here *@

<article class="col-span-12 flex flex-col items-center">
    <div class="text-center text-pretty max-w-sm">
        <h1 class="mb-2">როგორ მუშაობს?</h1>

        <p class="text-xl text-gray-300 leading-6 tracking-wide">
            მიეცი ჯი არის რევოლუციონარული ახალი ვებსაიტი სადაც შეგიძლიათ მიცეთ ხმა!
        </p>
    </div>
</article>