@page "/about"

<PageTitle>როგორ მუშაობს?</PageTitle>

<details class="col-span-12">
    <summary @onclick="@(() => {})">
        <button type="button"
                class="flex items-center gap-3 rounded-t-md justify-between w-full p-5
                       bg-gray-700 border border-gray-200 focus:ring-4 focus:ring-gray-800 hover:bg-gray-600">
            <span>როგორ მუშაობს მიეცი.ჯი?</span>
            <Heroicon Name="@HeroiconName.ArrowDown" class="size-4"/>
        </button>
    </summary>

    <div class="p-5 border border-gray-200 bg-background">
        კარგად!
    </div>
</details>