@page "/"

<PageTitle>მიეცი.ჯი</PageTitle>

<AppSection Class="col-span-12 md:col-start-4 md:col-span-6 text-white">
    <h1 class="mb-2">მიეცი.ჯი</h1>

    <div class="max-w-lg flex flex-col md:flex-row items-stretch md:items-center w-full gap-3 text-lg md:text-2xl">
        <Button Link Href="about">
            როგორ მუშაობს?
        </Button>

        <Button Link Href="vote" Class="from-green-500 to-sky-500 focus:ring-green-600"
                InnerClass="flex flex-row justify-center items-center gap-1">
            მიეცი ხმა
            <Heroicon Name="@HeroiconName.ArrowRight" class="size-5"/>
        </Button>
    </div>
</AppSection>