@page "/"

<section class="flex flex-col justify-center h-full w-full max-w-screen-xl gap-4">
    <h1 class="text-6xl font-extrabold tracking-tight leading-none text-white">
        მიეცი.ჯი
    </h1>

    <p class="text-3xl text-gray-300 font-light">
        მიეცი ხმა იმ პარტიას რომელსაც უჭერ მხარს,<br/>
        და გაიგე რას ფიქრობს სხვა.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 sm:justify-center text-xl">
        <a href="about" class="inline-flex justify-center items-center py-3 px-5 backdrop-blur-[3.5px] gap-2 text-center rounded-md text-gray-400 border border-gray-500 hover:bg-trueGray-700">
            როგორ მუშაობს?
        </a>

        <a href="vote" class="inline-flex justify-center items-center py-3 px-5 backdrop-blur-[3.5px] gap-2 text-center rounded-md text-green-600 border border-green-600 hover:bg-trueGray-700">
            მიეცი ხმა
            <Heroicon Name="@HeroiconName.ArrowRight" class="w-6 h-6"/>
        </a>
    </div>
</section>