@page "/privacy"

<PageTitle>კონფიდენციალობის პოლიტიკა</PageTitle>

<article class="col-span-12 space-y-3 bg-gray-700 rounded-md p-3 text-white [&_p]:text-gray-400">
    <h1>
        კონფიდენციალობის პოლიტიკა
    </h1>

    <p>
        მიეცი.ჯი აფასებს ამ ვებგვერდზე (შემდგომში - ვებგვერდი) თქვენს ვიზიტს და იმ ინტერესს, რომელსაც ჩვენი სერვისებისა და პროდუქტების
        მიმართ იჩენთ. თქვენი კონფიდენციალური ინფორმაციის დაცვა ჩვენთვის მნიშვნელოვანია და ჩვენი ვებგვერდის სტუმრობის განმავლობაში,
        გვსურს თავს კომფორტულად გრძნობდეთ.
    </p>

    <p>
        ჩვენ ვუფრთხილდებით და ვიცავთ თქვენს პერსონალურ მონაცემებს, რომელიც შეგროვდა, მუშავდება და გამოიყენება ვებგვერდზე
        თქვენი სტუმრობის განმავლობაში და შემდგომში.
    </p>

    <p>
        ვებგვერდით სარგებლობისას პერსონალური მონაცემების დამუშავების პირობები განსაზღვრულია წინამდებარე კონფიდენციალურობის პოლიტიკით,
        რომელიც თავის მხრივ შემუშავებულია ჩვენ მიერ დამტკიცებული "მონაცემთა დაცვის პოლიტიკის" საფუძველზე. აღნიშნული დოკუმენტი
        ხელმისაწვდომია ვებგვერდზე და შეგიძლიათ გაეცნოთ.
    </p>

    <h3>
        ვებგვერდზე შემოსვლით თქვენ ეთანხმებით წინამდებარე კონფიდენციალურობის პოლიტიკას (შემდგომში - პოლიტიკა)
    </h3>

    <p>
        თუ თქვენ არ ეთანხმებით წინამდებარე პოლიტიკას, არ განაგრძოთ ვებგვერდის მომდევნო გვერდებით სარგებლობა.
    </p>

    <p>
        წინამდებარე პოლიტიკა, შესაძლოა, დროდადრო განახლდეს. აქედან გამომდინარე, გთხოვთ, რომ მას გაეცნოთ რეგულარულად.
        წინამდებარე პოლიტიკის ბოლო აბზაცი მიანიშნებს იმ თარიღს, თუ როდის მოხდა პოლიტიკის უკანასკნელი განახლება.
    </p>

    <h3>
        რა მიზანს ემსახურება წინამდებარე პოლიტიკა და რა არის მისი მოქმედების სფერო?
    </h3>

    <h3>
        რა ინფორმაციას ვაგროვებთ თქვენგან და რა მიზნით?
    </h3>

    <p>
        როდესაც თქვენ სტუმრობთ მიეცი.ჯი-ს ვებგვერდს, ჩვენი სერვერი ავტომატურად იწერს დეტალებს თქვენი ვიზიტის შესახებ ანალიტიკური და
        სერვისის გაუმჯობესების მიზნით (მაგალითად, შეზღუდვის გარეშე, თქვენი IP მისამართი, ვებგვერდი, რომლიდანაც ჩვენს ვებგვერდს ესტუმრეთ,
        ვიზიტის დროს გამოყენებული ინტერნეტ-ბრაუზერის ტიპი, მოწყობილობის ტიპი რომელშიც აღნიშნული ბრაუზერია განთავსებული და სხვა).
    </p>

    <h3>
        ჩვენ არ ვაგროვებთ არანაირი ტიპის პერსონალურ მონაცემებს თქვენს შესახებ.
    </h3>

    <h3>
        როგორ ვაგროვებთ და ვინახავთ ინფორმაციას თქვენ შესახებ?
    </h3>

    <p>
        მიეცი.ჯი იყენებს ისეთ ტექნოლოგიას, როგორიცაა მზა ჩანაწერები (cookies) ან თეგი (შემდგომში - თრექინგის ტექნოლოგია), იმისთვის,
        რომ შევაგროვოთ ზემოაღნიშნული ინფორმაცია.
    </p>

    <p>
        მზა ჩანაწერების ან თეგების ტექნოლოგია გვეხმარება ვმართოთ და გავაუმჯობესოთ ვებგვერდის ეფექტურობა, მაგალითად იმის მიხედვით,
        ყოფილა თუ არა თქვენს კომპიუტერსა და ჩვენს ვებგვერდს შორის წარსულში რამე კავშირი, მოვახდინოთ ვებგვერდზე ყველაზე პოპულარული
        სექციების იდენტიფიცირება და სხვა.
    </p>

    <p>
        გთხოვთ დარწმუნდეთ, რომ თქვენი მზა ჩანაწერების წესები გაწერილია იმგვარად, რომ მონიშნული არ გაქვთ მზა ჩანაწერის ის ტიპი, რომლის
        გამოყენებაზე ვებსაიტს ნებას არ რთავთ.
    </p>

    <p>
        ხშირ შემთხვევაში, თქვენ ასევე შეგიძლიათ თქვენი ინტერნეტ-ბრაუზერით თრექინგის ტექნოლოგიების კონტროლი. გთხოვთ, დარწმუნდეთ რომ
        თქვენი ინტერნეტ-ბრაუზერი ასახავს თქვენ სურვილს გსურთ თუ არა, სადაც ეს შესაძლებელია, გაგაფრთხილოთ თრექინგ ტექნოლოგიების და ან
        მათი მიღების შესახებ. თქვენი ინტერნეტ-ბრაუზერის სპეციალურ შესაძლებლობებს და ინსტრუქციებს მათი მოხმარების შესახებ, როგორც წესი,
        შეგიძლიათ გაეცნოთ თქვენი ინტერნეტ-ბრაუზერის სახელმძღვანელოში ან სექციაში "დახმარება".
    </p>

    <p>
        თრექინგ ტექნოლოგიების გამოყენებაზე უარის თქმამ ან მათმა დეაქტივაციამ შესაძლოა უარყოფითი გავლენა იქონიოს მიეცი.ჯის ვებგვერდის ან
        მისი სხვადასხვა ნაწილების მიერ შემოთავაზებული სერვისების ხელმისაწვდომობაზე და მათ გამართულ ფუნქციონირებაზე.
    </p>

    <h3>
        ბოლო ცვლილება განხორციელდა 2024 წლის 3 მაისს.
    </h3>
</article>

<p class="p-3"></p>