<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="flex flex-col gap-3 text-center p-5 text-white">
                        <h1 class="text-3xl md:text-6xl font-extrabold">Loading...</h1>
                    </div>
                </Authorizing>

                <NotAuthorized>
                    <Redirect To="auth/login"/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFound/>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>