@page "/vote"
@attribute [Authorize(Policy = "can_vote")]

<PageTitle>ხმის მიცემა</PageTitle>

@foreach (var party in Party.All)
{
    <PartyCard @key="@party.Id" Party="@party" Clicked="@(() => VoteFor(party))"/>
}

@* This is a hack, because i dont know how to give padding that is still effective after scrolling up *@
<div class="col-span-12 p-4"></div>

@code
{
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    private void VoteFor(Party party)
    {
        var parameters = new ModalParameters()
            .Add(nameof(VoteConfirmation.Party), party);

        Modal.Show<VoteConfirmation>(parameters);
    }
}