@page "/vote"
@using Domain.ValueObjects

<PageTitle>Home</PageTitle>

<div class="h-full grid grid-cols-12 justify-center items-center gap-3 p-5">
    @foreach (var (partyId, party) in Parties)
    {
        <PartyCard @key="partyId" Party="@party"/>
    }

    @foreach (var (partyId, party) in Parties)
    {
        <PartyCard @key="@(partyId + 1)" Party="@party"/>
    }
</div>

@code
{
    private static readonly Dictionary<int, Party> Parties = new()
    {
        [5] = 5,
        [9] = 9,
        [36] = 36,
        [42] = 42,
    };
}