@page "/vote"

<PageTitle>ხმის მიცემა</PageTitle>

@foreach (var (partyId, party) in Parties)
{
    <PartyCard @key="partyId" Party="@party" Clicked="@(() => VoteFor(party))"/>
}

@* This is a hack, because i dont know how to give padding that is still effective after scrolling up *@
<div class="block md:hidden p-4"></div>

@code
{
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    // TODO on initialized, if the cookies have last vote time in them, and it is not 12 hours behind,
    // then we should redirect the user to /stats

    private void VoteFor(Party party)
    {
        var parameters = new ModalParameters()
            .Add(nameof(VoteConfirmation.Party), party);

        Modal.Show<VoteConfirmation>(parameters);
    }

    private static readonly Dictionary<int, Party> Parties = Party.Allowed
        .Where(p => p != 0)
        .Select(p => (p, (Party)p))
        .ToDictionary();
}